<p-dialog [style]="{width: '600px'}" [visible]="visible()" [header]="item()?.name || 'Item Details'" [modal]="true"
    (visibleChange)="onVisibleChange($event)">
    @if (loading()) {
    <p-skeleton height="200px" width="100%"></p-skeleton>
    } @else if (!item()) {
    <p>Error loading item details</p>
    } @else {
    <div class="item-details">
        <div class="item-details__field-row" *ngFor="let field of itemDetails()">
            <div class="item-details__field-label" [ngClass]="{'item-details__field-label--dark': isDarkMode()}">{{
                field.key }}:</div>
            <div class="item-details__field-value" [ngClass]="{'item-details__field-value--dark': isDarkMode()}">
                {{ field.key === 'films' ? films() : field.value }}
            </div>
        </div>
    </div>
    }
</p-dialog>